<!-- Facebook meta -->
<meta property="og:site_name" content="Mystery Shopping"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="https://assemblio.github.io/mystery-shopping/"/>
<meta property="og:title" content="Mystery Shopping"/>
<meta property="og:image"
      content="https://assemblio.github.io/mystery-shopping/static/images/mystery-shopping-sharing.png"/>
<meta property="fb:app_id" content="966242223397117"/>
<meta property="og:description"
      content="Mystery Shopping Visualizer"/>
