<!-- Footer -->
<div class="row">
    <footer class="" style="text-align: center; margin-top:10px; background-color:#363636; color: #FFF;">
        <div class="" style="width:100%">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <br>
                        {% if page.language == "albanian" %}
                            <h4>Rreth Mystery shopping:</h4>
                            <p>Pershkrimi i projektit</p>
                        {% else %}
                            <h4>About Mystery shopping:</h4>
                            <p>Pershkrimi i projektit</p>
                        {% endif %}

                    </div>
                    <div class="footer-col col-md-4">
                        <br>
                        <h4>Follow us</h4>
                        <!-- Twitter -->
                        <a href="#" data-toggle="tooltip" title="Twitter" target="_blank" class="share-btn twitter">
                            <i class="fa fa-twitter"></i>
                        </a>

                        <!-- Facebook -->
                        <a href="#" data-toggle="tooltip" title="Facebook" target="_blank" class="share-btn facebook">
                            <i class="fa fa-facebook"></i>
                        </a>

                        <!-- Page -->
                        <a href="#" data-toggle="tooltip" title="UNDP Kosovo" target="_blank" class="share-btn home">
                            <i class="fa fa-home"></i>
                        </a>
                        <br><br>
                    </div>
                    <div class="footer-col col-md-4">
                        <!-- <h4>UNDP Kosovo</h4> -->
                        <div class="row">
                            <!-- <div class="col-xs-6">
                                <a href="http://opendatakosovo.org/" target="_blank"><img src="static/images/open-data-kosovo-logo.png" alt="" class="partner-img img-responsive"></a>
                            </div> -->
                            <div class="col-xs-3"></div>
                            <div class="col-xs-6">
                                <a href="#" target="_blank"><img src="" alt="" class="partner-img img-responsive"></a>
                            </div>
                            <div class="col-xs-4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>