<script>
    var languages = {
        "1": "sq",
        "2": "en",
        "3": "sr"
    };

    $(function () {
        $('.navbar-right li').on("click", function (e) {
            var active_distribution_type = $(".left-nav li.active").find("a").attr("name");
            if (active_distribution_type == "Aggregated"){
                e.preventDefault();
                var lang = $(this).val();
                var language = languages[lang.toString()];
                window.location.href = "../" + language + "/sunburst.html";
            }
        })
    });
</script>

<div class="row">
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand" href="">Mystery Shopping</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav left-nav">
                {% if page.language == "albanian" %}
                    <li class="active"><a name="Disaggregated" href="../sq/index.html">Të ndara</a></li>
                    <li><a name="Aggregated" href="../sq/sunburst.html">Të grumbulluara</a></li>
                {% elsif page.language == "serbian" %}
                    <li class="active"><a name="Disaggregated" href="../sr/index.html">Razvrstano</a></li>
                    <li><a name="Aggregated" href="../sr/sunburst.html">Ukupno</a></li>
                {% else %}
                    <li class="active"><a name="Disaggregated" href="../en/index.html">Disaggregated</a></li>
                    <li><a name="Aggregated" href="../en/sunburst.html">Aggregated</a></li>
                {% endif %}
                <!-- <li><a href="indicators.html">Indikatori</a></li>
                <li><a href="problems.html">Problemi</a></li> -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if page.language == "albanian" %}
                    <li value="1" class="active"><a href="../sq/index.html">Shqip</a></li>
                    <li value="2"><a href="../en/index.html">English</a></li>
                    <li value="3"><a href="../sr/index.html">Srpski</a></li>
                {% elsif page.language == "serbian" %}
                    <li value="1"><a href="../sq/index.html">Shqip</a></li>
                    <li value="2"><a href="../en/index.html">English</a></li>
                    <li value="3" class="active"><a href="../sr/index.html">Srpski</a></li>
                {% else %}
                    <li value="1"><a href="../sq/index.html">Shqip</a></li>
                    <li value="2" class="active"><a href="../en/index.html">English</a></li>
                    <li value="3"><a href="../sr/index.html">Srpski</a></li>
                {% endif %}
            </ul>
        </div> <!-- navbar-collapse -->
    </nav>
</div>